
@media screen and (min-width: 750px){

    html {
        margin: auto;
        max-width: 1200px;
        background-color: black;

    }
    body {
        width: auto;
        margin: auto;
        background-color: white;
        padding: 0;

    }
    header {
        width: auto;
        padding-top: 4em;
        padding-bottom: 0em;
        margin: 0;
    }
    #parametre {
        margin-top: 2em;
        justify-content: space-between;
        align-content: stretch;
    }
    h1 {
        margin-bottom: 2em;
        font-size: 56px;
        padding-top: 15px;
    }


    ul {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    header li {
        margin: 0 2em;
        padding: 1em 1em;
        font-weight: bold;
    }

    #selected {
        background-color: white;
        border-radius: 5px 5px 0 0;
        color:#2056ac;
    }
    img{
        width: 95%;
        height: auto;
        margin: 2em 2.5%;
    }
    #baseline p {
        width: 80%;
        margin: auto;
        padding-bottom: 2em;
    }
    #baseline h2 {
        font-size: 35px;
    }
    section {
        width: 90%;
        margin: auto;
        padding: 3em 0;
        display: flex;
    }
    article{
        padding: 0 1.5em;
    }
    #contact {
        width: 100%;
        padding: 2em 0;
        font-size: 35px;
    }
    #contact p {
        margin: 1em 0;
        font-size: 15px;
    }
    #color{
        color: #3b4eb2;
        height: 25px;
    }
footer li{
        width: 2.5em;
        height: 2.5em;
        padding-top: 0.7em;
    }
}
