* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    margin: auto;

}
p {
    color: rgb(66, 69, 69);
    padding: 0 0.5em;
}
header {
    background-color: #313ead;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin: 1em 0;
}
#parametre {
    font-size: 30px;
}
header h1 {
     padding-bottom: 0.5em;
}
 header li{
     list-style-type: none;
     padding: 0.5em 0;
     color: white;

 }
header a{
    text-decoration: none;
    /*color: white;*/
    color: inherit;
}


img {
    width: 100%;
    height: auto;
}
#baseline {
    text-align: center;
    padding-bottom: 2em;

}

#articles_un{
    border-top: 1px solid rgb(156, 156, 161);
    border-bottom: 1px solid rgb(156, 156, 161);
}
section {
    padding: 1em 0;
    text-align: center;
}
section h2 {
    padding: 1em 0;

}
button {
    width: 120px;
    height: 40px;
    background-color: #58a6d2;
    border: none;
    color: white;
    margin: 1em 0;
}

#contact{
    padding: 1em 0;
    background-color: #e0eff7;
    margin: 1em 0;
    font-size: 30px;
    color: #5b6063;
}
#contact p{
    padding-bottom: 1.5em ;
    padding-top: 0.5em;
    font-size: 15px;
}
.contactus {
    font-size: 30px;
}
footer, footer p {
    text-align: center;
    color :white;
    background-color: #313ead;
    padding:2em 0;
    font-size: 13px;
}
footer ul {
    margin: 1em 0;
    display:flex;
    justify-content:center;

}
footer li{
    list-style-type: none;
    width:1.5em;
    height:1.5em;
    background-color: #418eba;
    margin: 0.2em;
    padding-top: 0.1em;

}
footer a{
    text-decoration: none;
    color: white;
}
