* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    margin: auto;
    font-family: 'Questrial';
    font-weight: 16px;
    color: #2056ac;
}
p {
    color: rgb(66, 69, 69);
    padding: 0 0.5em;
}
header {
    background-color: #313ead;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin: 1em 0;
}
#parametre {
    font-size: 30px;
}
header h1 {
     padding-bottom: 0.5em;
     font-family: 'Questrial';
     font-size: 45px;
     font-weight: bold;
     width: auto;
}
 header li{
     list-style-type: none;
     padding: 0.5em 0;
     color: #fff;

 }
header a{
    text-decoration: none;
    /*color: white;*/
    color: inherit;
}
header a:hover {
    color: #2056ac;
}
header a:active{

}

img {
    width: 100%;
    height: auto;
}
#baseline {
    text-align: center;
    padding-bottom: 2em;

}

#articles_un{
    border-top: 1px solid rgb(156, 156, 161);
    border-bottom: 1px solid rgb(156, 156, 161);
}
section {
    padding: 1em 0;
    text-align: center;
}
h2 {
    padding: 1em 0;
    font-family: 'Questrial';
    font-size: 45px;
    font-weight: bold;
}
h3 {
    font-family: 'Questrial';
    font-size: 26px;
    font-weight: bold;
}
h4{
    font-size: 16px;
    font-weight: bold;
}
button {
    width: 120px;
    height: 40px;
    background-color: #64abd1;
    border: none;
    color: white;
    margin: 1em 0;
}

#contact{
    padding: 1em 0;
    background-color: #e0eff7;
    margin-top: 1em;
    font-size: 30px;
    color: #5b6063;
    border-bottom: 20px solid #3b4eb2;
}
#contact p{
    padding-bottom: 1.5em ;
    padding-top: 0.5em;
    font-size: 15px;
}
.contactus {
    font-size: 30px;
}
footer, footer p {
    text-align: center;
    color :white;
    background-color: #313ead;
    padding:2em 0;
    font-size: 13px;
}
footer ul {
    margin: 1em 0;
    display:flex;
    justify-content:center;

}
footer li{
    list-style-type: none;
    width:1.5em;
    height:1.5em;
    background-color: #64abd1;
    margin: 0.2em;
    padding-top: 0.2em;

}
footer a{
    text-decoration: none;
    color: white;
}
